@model JobSeekerAddCommentViewModel
@{
    ViewBag.Title = "Add Comment";
}

<div id="page-add-comments">

    <a asp-action="ViewProfileComments" asp-route-userId="@Model.JobSeekerId" class="btn btn-inline back-link"><i class="fa fa-chevron-left fa-left"></i>Back to view comments</a>
    <form asp-area="JobSeekers" asp-controller="UserManagement" asp-action="AddProfileComment" method="post" role="form" asp-antiforgery="true">
        <input type="hidden" asp-for="JobSeekerId" />

        @if (ViewData.ModelState["error"] != null)
        {
            <div class="alert alert-danger">
                <span class="text-danger">@ViewContext.ViewData.ModelState["error"].Errors.Select(x => x.ErrorMessage).FirstOrDefault()</span>
            </div>
        }

        <h1 class="page-title has-breadcrumb">@ViewBag.Title:</h1>
        <h3>@Model.FirstName @Model.LastName <span class="user-status">(@Model.Status)</span></h3>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label>Comment:</label>
                    <textarea class="form-control" rows="4" asp-for="Comment"></textarea>
                </div>
            </div>
        </div>

        <div class="row pt-5 button-row">
            <button type="submit" class="btn btn-primary" disabled>
                Save
            </button>
            <a class="btn btn-clear" asp-action="ViewProfileComments" asp-route-userId="@Model.JobSeekerId">Cancel</a>
        </div>
    </form>
</div>
